---
language: python

env:
  global:
    - HELM_URL=https://storage.googleapis.com/kubernetes-helm
    - HELM_TGZ=helm-v2.4.1-linux-amd64.tar.gz
    - TARGET_BR=master
    - REPO_DIR=/home/travis/build/osowski/charts
    - GH_URL=https://github.com/osowski/charts
    - YAMLLINT_VERSION=1.8.1

install:
  # Installing Helm
  - wget -q ${HELM_URL}/${HELM_TGZ}
  - tar xzfv ${HELM_TGZ}
  - PATH=`pwd`/linux-amd64/:$PATH
  - helm init --client-only

script:
  # Check charts format
  - >
     for CHART in $(ls ${REPO_DIR}/stable); do
      helm lint ${REPO_DIR}/stable/${CHART}
      if [ $? != 0 ]; then
       echo "Helm Lint FAILURE for ${REPO_DIR}/stable/${CHART}"
       travis_terminate 1
      elif
        echo "Helm Lint SUCCESS for ${REPO_DIR}/stable/${CHART}"
      fi
     done
